<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raven.gallery.data.sql.dao.pictorial.PictorialVariableInfoDao">
    <resultMap id="BaseResultMap" type="com.raven.gallery.data.sql.po.pictorial.PictorialVariableInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pictorial_info_id" jdbcType="INTEGER" property="pictorialInfoId"/>
        <result column="pictorial_score" jdbcType="VARCHAR" property="pictorialScore"/>
        <result column="pictorial_comment_num" jdbcType="INTEGER" property="pictorialCommentNum"/>
        <result column="pictorial_like_num" jdbcType="INTEGER" property="pictorialLikeNum"/>
        <result column="pictorial_favorite_num" jdbcType="INTEGER" property="pictorialFavoriteNum"/>
    </resultMap>
</mapper>